In [2]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from pytrends.request import TrendReq

# Create a local StreamingContext with two working thread and batch interval of 1 second
sc = SparkContext("local[2]", "NetworkWordCount")
ssc = StreamingContext(sc, 10)

24/06/05 20:31:01 WARN Utils: Your hostname, besgam-Aspire-E1-471 resolves to a loopback address: 127.0.1.1; using 192.168.0.16 instead (on interface wlp9s0)
24/06/05 20:31:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/besgam/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.0.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
24/06/05 20:31:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
pytrends = TrendReq(hl='pt-BR', tz=-300)

In [4]:
kw_list = ["Santander"]
pytrends.build_payload(kw_list, timeframe='now 1-H', geo='BR')

In [13]:
kw_list[0]

'Santander'

In [8]:
df = pytrends.related_queries()

In [12]:
df['Santander']['top']

                        query  value
0             banco santander    100
1            cartão santander     61
2    santander financiamentos     41
3  santander internet banking     37
4           santander banking     37
5          santander empresas     16
6                santander sx     10
7         consorcio santander      9
8  santander trabalhe conosco      5
9                serasa score      2

In [ ]:
lines = ssc.socketTextStream()

In [ ]:
lines.pprint()

In [ ]:
ssc.start()             # Start the computation
ssc.awaitTermination()  # Wait for the computation to terminate